In [44]:
import pandas as pd
import numpy
import matplotlib.pyplot as plt

# bulid dataset

In [192]:
class_=['A','B','C','D','E','F','G']
Drink=['Coke','Pepsi','7Up','Sprite','Latte','Espresso','Cappuccino']
rank=[7,6,5,4,3,2,1]
count=[200,100,100,200,100,100,200]
amount=[(100, 200),(200, 10),(200, 10),(400, 100),(800, 10),(800, 10),(900, 400)]

In [193]:
dic=['class','Drink','rank','count','amount','test']

In [194]:
asd=pd.DataFrame(columns=dic)
asd['class']=class_
asd['Drink']=Drink
asd['rank']=rank
asd['count']=count
asd['amount']=amount
asd

  class       Drink  rank  count      amount test
0     A        Coke     7    200  (100, 200)  NaN
1     B       Pepsi     6    100   (200, 10)  NaN
2     C         7Up     5    100   (200, 10)  NaN
3     D      Sprite     4    200  (400, 100)  NaN
4     E       Latte     3    100   (800, 10)  NaN
5     F    Espresso     2    100   (800, 10)  NaN
6     G  Cappuccino     1    200  (900, 400)  NaN

# 隨機產生常態分佈資料

In [195]:
import numpy
import matplotlib.pyplot as plt

#x = numpy.random.normal(100, 200, 200)
x=[]
for i in range(len(count)):
    x.append(numpy.random.normal(amount[i][0], amount[i][1], count[i]))
    
plt.hist(x[0], 100)
plt.hist(x[1], 100)
plt.hist(x[2], 100)
plt.hist(x[3], 100)
plt.hist(x[4], 100)
plt.hist(x[5], 100)
plt.hist(x[6], 100)

plt.show()

In [196]:
asd['test']=x

# word2vec

In [272]:
#googlennews dowload
#沒有googlenews請下載~
# wget -c "https://s3.amazonaws.com/dl4j-distribution/GoogleNews-vectors-negative300.bin.gz"

In [197]:
import gensim
import pandas as pd
model = gensim.models.KeyedVectors.load_word2vec_format(r'C:\Users\Tsai\GoogleNews-vectors-negative300.bin', binary=True)

2021-05-26 01:20:53,008 : INFO : loading projection weights from C:\Users\Tsai\GoogleNews-vectors-negative300.bin
2021-05-26 01:21:27,325 : INFO : loaded (3000000, 300) matrix from C:\Users\Tsai\GoogleNews-vectors-negative300.bin

In [201]:
vec=[]
for i in Drink:
    vec.append(model[i])
#兩個類別的距離    
y1 = model.similarity("Coke", "Cappuccino")
y1

0.14073473

In [269]:
c=[]
qwe=pd.DataFrame(columns=Drink)
qwe

Empty DataFrame
Columns: [Coke, Pepsi, 7Up, Sprite, Latte, Espresso, Cappuccino]
Index: []

In [270]:
#各個node之間距離之矩陣

In [271]:
for i in range(len(Drink)):
    for j in range(len(Drink)):
        #qwe[Drink[i]]
        c.append(model.similarity(Drink[i],Drink[j]))
    #print(qwe[Drink[i]])
    qwe[Drink[i]]=c
    c=[]
qwe

       Coke     Pepsi       7Up    Sprite     Latte  Espresso  Cappuccino
0  1.000000  0.616062  0.491677  0.570642  0.277807  0.199250    0.140735
1  0.616062  1.000000  0.460241  0.540599  0.177285  0.114409    0.180004
2  0.491677  0.460241  1.000000  0.539839  0.255465  0.193757    0.174528
3  0.570642  0.540599  0.539839  1.000000  0.269688  0.239021    0.253089
4  0.277807  0.177285  0.255465  0.269688  1.000000  0.548601    0.396419
5  0.199250  0.114409  0.193757  0.239021  0.548601  1.000000    0.447165
6  0.140735  0.180004  0.174528  0.253089  0.396419  0.447165    1.000000